*{
    margin: 0;
    padding: 0;
}

.background{
    height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.background img{
    object-fit: cover;
    height: 87vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.wrapper{
    background: #98e4f0;
    padding: 30px;
    height: 30vh;
    width: 35%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email{
    margin-bottom: 20px;
    width: 270px;
    height: 30px;
    padding-left: 10px;
    border: none;
}

.password{
    margin-bottom: 20px;
    width: 270px;
    height: 30px;
    padding-left: 10px;
    border: none;
}

.buttons{
    margin-bottom: 10px;
    margin-bottom: 15px;
    display: flex;
    width: 270px;
    justify-content: space-between;
}

.loginbtn{
    width: 80px;
    height: 30px;
    border: none;
    background-color: #faa32b;
    cursor: pointer;
}

.googlebtn{
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.links{
    font-size: 10px;
    width: 270px;
    display: flex;
    justify-content: space-between;
}