{% extends "base.html" %} {% block title %}academic-portfolio{% endblock %} {% block content
  %}
  <body>
    <script>
      function showForm(){
        var cat = document.getElementById("curriculum");
        if(cat.value == "ALevel"){
            document.getElementById("alevel_score_input").hidden = false;
            document.getElementById("polytechnic_gpa_input").hidden = true;
        }
        else{
            document.getElementById("alevel_score_input").hidden = true;
            document.getElementById("polytechnic_gpa_input").hidden = false;
        }
      }
    </script>

    <div class="academic-portfolio-wrapper">
      <form method="POST">
        <h1>ACADEMIC PORTFOLIO</h1>
        <div class="form-group">
          <label for="curriculum">Qualifications</label>
          <select name="curriculum" id="curriculum" onchange="showForm()">
            <option value="ALevel" onclick="showForm()">A Levels</option>
            <option value="Polytechnic" onclick="showForm()">Polytechnic</options>
          </select>
          <div id="alevel_score_input">
            <label for="alevel_score">'A' Level Rank Points</label>
            <input type="Score" class="form-control" id="alevel_score" name="alevel_score" placeholder="Enter RP"/>
          </div>
          <div id="polytechnic_gpa_input" hidden>
            <label for="alevel_score">Polytechnic GPA</label>
            <input type="Score" class="form-control" id="polytechnic_gpa" name="alevel_score" placeholder="Enter GPA"/>
        </div>
          </div>
        <button type="submit" class="acad-submit">Submit</button>
      </form>
    </div>
  </body>
  
  

  <style>
    body {
      background-image: url("static/university_background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
      color:white
    }
  </style>
  
  {% endblock %}
  