{% extends "base.html" %} {% block title %}academic-portfolio{% endblock %} {% block content
  %}
  <form method="POST">
    <h3 align="center">ACADEMIC PROFILE</h3>


    <div class="form-group">
      <label for="curriculum">Curriculum</label>

      <select name="curriculum" id="curriculum">
        <option value="ALevel">A Levels</option>
        <option value="Polytechnic">Polytechnic</options>
        <option value="IB">International Baccalaureatte</options>

          <label for="alevel_score">'A' Level score</label>
          <input
        type="Score"
        class="form-control"
        id="alevel_score"
        name="alevel_score"
        placeholder="Enter score"/>

       </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <style>
    body {
      background-image: url("static/NTU2.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
      color:white
    }
    h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 80px;
      margin-left: 80px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
    }
  

    </style>
  
  {% endblock %}
  