{% extends "base.html" %} {% block title %}{{degree}}{% endblock %} {% block
    content %}
    <div class="course-bg">
        <div class="course-wrapper">
            <h1>{{degree}}</h1>
            <table cellspacing="0" class="course-info">
                <h3 class="section-title">COURSE INFORMATION</h3>
                <tr>
                    <td class="c-info">A Level IGP</td>
                    <td class="c-data">{{Alevel_igp}}</td>
                </tr>
                <tr>
                    <td class="c-info">Polytechnic GPA</td>
                    <td class="c-data">{{polytechnic_igp}}</td>
                </tr>
                <tr>
                    <td class="c-info">RIASEC Code</td>
                    <td class="c-data" id="riasec">{{riasec_code}}</td>
                </tr>
                <tr>
                    <td class="c-info">Related Subjects</td>
                    <td class="c-data" id="sub">{{related_subject1}}, {{related_subject2}}, {{related_subject3}}</td>
                </tr>
                <tr>
                    <td class="c-info">A Level Prerequisites</td>
                    <td class="c-data">{{a_level_prerequisits}}</td>
                </tr>
            </table>
            <div>

            </div>
            <h3 class="section-title">ADDITIONAL INFORMATION</h3>
            <p>{{additional_information}}</p>
        </div>
    </div>
    
    
    <style>
      body {
        background-image: url("static/university_student.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        color:rgb(0, 0, 0);
      }
      </style>
    {% endblock %}