{% extends "base.html" %} {% block title %}{{degree}}{% endblock %} {% block content %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable({{graph1|tojson}}); 

    var options = {
      title: 'gross monthly mean',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

<div id="curve_chart" style="width: 900px; height: 400px"></div>

<div class="course-bg">
  <div class="course-wrapper">
    <h1>{{degree}}</h1>
    <table cellspacing="0" class="course-info">
      <h3 class="section-title">COURSE INFORMATION</h3>
      <tr>
        <td class="c-info">Offered By</td>
        <td class="c-data">{{school}}</td>
      </tr>
      <tr>
        <td class="c-info">A Level IGP</td>
        <td class="c-data">{{Alevel_igp}}</td>
      </tr>
      <tr>
        <td class="c-info">Polytechnic GPA</td>
        <td class="c-data">{{polytechnic_igp}}</td>
      </tr>
      <tr>
        <td class="c-info">RIASEC Code</td>
        <td class="c-data" id="riasec">{{riasec_code}}</td>
      </tr>
      <tr>
        <td class="c-info">Related Subjects</td>
        <td class="c-data" id="sub">{{related_subject1}}, {{related_subject2}}, {{related_subject3}}</td>
      </tr>
      <tr>
        <td class="c-info">A Level Prerequisites</td>
        <td class="c-data">{{a_level_prerequisites}}</td>
      </tr>
      <tr>
        <td class="c-info">Additional Requirements</td>
        <td class="c-data">{{additional_information }}</p>
    </table> 
  </div>
</div>

    <style>
      body {
      background-image: url("/static/{{background_file}}");
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
      }
  
    </style>

    {% endblock %}