{% extends "base.html" %} {% block title %}recommendations{% endblock %} {% block content
  %}
  <h1>Recommended Degree Courses</h1>
  <body>
    <div class="text-container">
      <h1>List of courses:</h1>
      {% for key, value in data.items() %}
          <p>{{ key }} : {{ value }}</p>
      {% endfor %}
    </div>
  </body>

  <style>
    .text-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    body {
      background-image: url("static/NTU2.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
      color:white
    }
    h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 80px;
      margin-left: 80px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
    }
  

    </style>
  
  {% endblock %}