{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <div class="signup-main">
      <form class="signup-form" method="POST">
        <h1 align="center">SIGN UP</h1>
        <div class="signup-form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="signup-form-group">
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
          />
        </div>
        <div class="signup-form-group">
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
          />
        </div>
        <div class="signup-form-group">
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
          />
        </div>
        <button type="submit" class="signup-btn">Create Account</button>
      </form>
    </div>
    
    <style>
      body {
        background-image: url("static/university_background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        color:white
      }
      </style>
    {% endblock %}