{% extends "base.html" %} {% block title %}FindMyCollege{% endblock %} {% block content %}

<body>
  <div class="test-back">
    <div class="test-wrapper">
      <div class="test-header">
        <img src="{{url_for("static",filename="riasec_bg.jpg")}}">
        <p>Check the statement if you relate to it.</br> There are no wrong answers!</p>
      </div>
      {% set qn_count=[1] %}
      <form action="" method="post" id="form1">
        {% for question in pt_qns %}
            <div class="tsanswers">
              <p>{{qn_count|length}}) {{question.q}}</p>
              <div class="radio">
                <input class="test-checkbox" type="checkbox" value="question.v" >
                <span class="test-checkmark"></span>
              </div>
            </div>
            {% set __ = qn_count.append(1) %}
        {% endfor %}
        <div class="buttonspace">
          <button class="submitbutton" type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>

</body>


<style>
  body {
    background-image: url("static/university_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    }
  </style>  
  <script ez-screx="true">
    function valans(e) {

    if (jQuery("#" + e).is(":checked")) {
        jQuery("#" + e).attr("checked", false)
    }
    }
    function validateTSForm() {
      if (jQuery(".tscont :checkbox:checked").length < 1) {
        alert("You need to check at least one option");
        return false;
      } 
      else {
        jQuery("#tsform").submit();
        return true
      }
    }
</script>
<script ez-screx="true">
  if (typeof jQuery == 'undefined'){
    __ez.scxr.getDW(document).write(unescape("%3Cscript src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'%3E%3C/script%3E"));    
    }
</script>



{% endblock %}