{% extends "base.html" %} {% block title %}FindMyCollege{% endblock %} {% block content %}

<body>
  <div id="main">
    <div id="header">
    <h1>Take our Personality Test</h1>
    </div>
    
    <h2>Please answer every question:</h2>


			
		<div class="entry-content" itemprop="text">
			<script ez-screx="true">
if (typeof jQuery == 'undefined'){
  __ez.scxr.getDW(document).write(unescape("%3Cscript src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'%3E%3C/script%3E"));    
  }</script><style>.tsemail button,.tsemail input[type=button],.tsemail input[type=submit]{background:#ddd;padding:0 12px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#444;display:inline-block;font-size:11px;font-weight:700;text-decoration:none;cursor:pointer;line-height:27px;border:none}.tsemail input[type=email]{border:1px solid #ccc;width:200px;padding:6px 4px;outline:0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#777;display:inline-block;background:#fff;box-sizing:border-box;-moz-box-sizing:border-box}.tstitle{font-size:17px;background-color:#7EBADA;padding:3px 30px}.tsilo p{margin:1px;font-size:15px}.tsanswers{border-bottom: 1px solid #ccc;

padding: 3px 20px;}.tsqgroup{border:5px outset #C4E4F4;margin-bottom:10px}.radio{float: right;

padding-left: 15px;

border-left: 1px solid #ccc;}</style>

<script ez-screx="true">

  function valans(e) {

  if (jQuery("#" + e).is(":checked")) {
      jQuery("#" + e).attr("checked", false)
  }
  }
  function validateTSForm() {
    if (jQuery(".tscont :checkbox:checked").length < 1) {
      alert("You need to check at least one option");
      return false;
    } 
    else {
      jQuery("#tsform").submit();
      return true
    }
  }
  </script>

		<div class="tsilo">

   <p>Read each statement. If you agree with the statement, select the checkbox. There are no wrong answers!</p>

   <form action="" method="post" id="form1">
      <div class="tscont">
          <div class="tsqgroup">
            <div class="qfirst">
               <div class="tsanswers">
                  <p><b>1)</b> I like to work on cars<span class="radio"><input type="checkbox" name="q0" value="r"></span></p>  
               </div>
                <div class="tsanswers">
                          <p><b>2)</b>  I like to do puzzles <span class="radio"><input type="checkbox" name="q1" value="i"></span></p> 
                      </div>
                <div class="tsanswers">
                          <p><b>3)</b> I am good at working independently<span class="radio"><input type="checkbox" name="q2" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>4)</b> I like to work in teams <span class="radio"><input type="checkbox" name="q4" value="q3"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>5)</b>  I am an ambitious person, I set goals for myself<span class="radio"><input type="checkbox" name="q4" value="e"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>6)</b> I like to organize things, (files, desks/offices) <span class="radio"><input type="checkbox" name="q5" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>7)</b> I like to build things<span class="radio"><input type="checkbox" name="q6" value="r"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>8)</b> I like to read about art and music <span class="radio"><input type="checkbox" name="q7" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>9)</b> I like to have clear instructions to follow<span class="radio"><input type="checkbox" name="q8" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>10)</b>  I like to try to influence or persuade people <span class="radio"><input type="checkbox" name="q9" value="e"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>11)</b> I like to do experiments<span class="radio"><input type="checkbox" name="q10" value="i"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>12)</b> I like to teach or train people <span class="radio"><input type="checkbox" name="q11" value="s"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>13)</b> I like trying to help people solve their problems<span class="radio"><input type="checkbox" name="q12" value="s"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>14)</b> I like to take care of animals <span class="radio"><input type="checkbox" name="q13" value="r"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>15)</b> I wouldn't mind working 8  hours per day in an office<span class="radio"><input type="checkbox" name="q14" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>16)</b>  I like selling things <span class="radio"><input type="checkbox" name="q15" value="e"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>17)</b> I enjoy creative writing<span class="radio"><input type="checkbox" name="q16" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>18)</b>  I enjoy science <span class="radio"><input type="checkbox" name="q17" value="i"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>19)</b> I am quick to take on new responsibilities<span class="radio"><input type="checkbox" name="q18" value="e"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>20)</b> I am interested in healing people <span class="radio"><input type="checkbox" name="q19" value="s"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>21)</b> I enjoy trying to figure out how things work<span class="radio"><input type="checkbox" name="q20" value="i"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>22)</b> I like putting things together or assembling things <span class="radio"><input type="checkbox" name="q21" value="r"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>23)</b> I am a creative person<span class="radio"><input type="checkbox" name="q22" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>24)</b> I pay attention to details <span class="radio"><input type="checkbox" name="q23" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>25)</b> I like to do filing or typing<span class="radio"><input type="checkbox" name="q24" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>26)</b> I like to analyze things (problems/situations) <span class="radio"><input type="checkbox" name="q25" value="i"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>27)</b> I like to play instruments or sing<span class="radio"><input type="checkbox" name="q26" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>28)</b>  I enjoy learning about other cultures <span class="radio"><input type="checkbox" name="q27" value="s"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>29)</b> I would like to start my own business<span class="radio"><input type="checkbox" name="q28" value="e"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>30)</b> I like to cook <span class="radio"><input type="checkbox" name="q29" value="r"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>31)</b> I like acting in plays<span class="radio"><input type="checkbox" name="q30" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>32)</b>  I am a practical person <span class="radio"><input type="checkbox" name="q31" value="r"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>33)</b> I like working with numbers or charts<span class="radio"><input type="checkbox" name="q32" value="i"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>34)</b> I like to get into discussions about issues <span class="radio"><input type="checkbox" name="q33" value="s"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>35)</b> I am good at keeping records of my work<span class="radio"><input type="checkbox" name="q34" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>36)</b> I like to lead <span class="radio"><input type="checkbox" name="q35" value="e"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>37)</b>  I like working outdoors<span class="radio"><input type="checkbox" name="q36" value="r"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>38)</b> I would like to work in an office <span class="radio"><input type="checkbox" name="q37" value="c"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>39)</b> I'm good at math<span class="radio"><input type="checkbox" name="q38" value="i"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>40)</b> I like helping people <span class="radio"><input type="checkbox" name="q39" value="s"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>41)</b> I like to draw<span class="radio"><input type="checkbox" name="q40" value="a"></span></p>  
                      </div>
                <div class="tsanswers">
                          <p><b>42)</b>  I like to give speeches <span class="radio"><input type="checkbox" name="q41" value="e"></span></p>  
                      </div>

            </div>            
        </div>         
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>


<style>
  body {
    background-color: beige;

  font-family: Helvetica;
  }
  
  #main {
  width: 80%;
  max-width: 950px;
  border: 1px gray solid;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  }
  
  #header {
  margin-top: 0;
  border: 2px solid black;
  padding: 5px;
  height: 250px;
  background: beige;
  background-image: url("static/circumsystem.jpeg");
  background-size: contain;
  color: white;
  }

  label {
  display: block;
  }

  input {
  width: 30px;
  margin-left: 20px;
  }

  button {
  width: 100px;
  margin-top: 20px;
  }
  
  </style>  




{% endblock %}