{% extends "base.html" %} {% block title %}subject-interests{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">TELL US ABOUT YOURSELF</h3>
      <div class="form-group">
        <label for="subject1">Subject Interest 1</label>
        <input
          type="subjectInterest"
          class="form-control"
          id="subject1"
          name="subject1"
          placeholder="Enter subject"
        />
      </div>

      <div class="form-group">
        <label for="subject2">Subject Interest 2</label>
        <input
          type="subjectInterest"
          class="form-control"
          id="subject2"
          name="subject2"
          placeholder="Enter subject"
        />
      </div>

      <div class="form-group">
        <label for="subject3">Subject Interest 3</label>
        <input
          type="subjectInterest"
          class="form-control"
          id="subject3"
          name="subject3"
          placeholder="Enter subject"
        />
      </div>

      <div class="form-group">
        <label for="curriculum">Curriculum</label>

        <select name="curriculum" id="curriculum">
          <option value="ALevel">A Levels</option>
          <option value="Polytechnic">Polytechnic</options>
          <option value="IB">International Baccalaureatte</options>
         </select>
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <style>
      body {
        background-image: url("static/NTU2.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        color:white
      }
      h3 {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 80px;
        margin-left: 80px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
      }
    

      </style>
    
    {% endblock %}
    